<!DOCTYPE html>
<html>
<body>
  <h1>Welcome to My Awesome Site, <%= @user.first_name %>!</h1>
  <p>
    You have successfully signed up to our site. To login, visit <%= @url %>.
  </p>
</body>
</html>
